


.content-estudiante{
    display: flex;
    justify-content: center;
    text-align: center;    
}
.conente-grupo {
    display: flex;
}

.content-tabla {
    padding: 40px 40px;
    
}
.content-tabla h1 {
    background: #70e37e;
    align-items: center;
}
.content-tabla table{
    width: 500px;
}
.content-td {
    font-family:monospace;
    font-size: 20px;
}
.view {
    color: #03A9F4;
}
@media (max-width: 768px){
    .conente-grupo,.content-tabla {
        overflow: auto;
        display: flex;
        flex-direction: column;

    }
    .content-tabla h1 {
        padding-left: 100%;
        background: #70e37e;
        padding-right: 100%;
    }
}   