<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/static/img/pila-de-libros.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <script defer src="/static/js/index.js"></script>

    <title>Registros de Cla</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/css/navbar.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!--customCSS-->
    {% block customCSS %}
    {% endblock %}
</head>
<body>
    {% include '/component/navbar.html' %}
    {% block body %}
    {% endblock %}
</body>
</html>