{% extends 'layout.html' %}
{% block customCSS %}
    <link rel="stylesheet" href="/static/css/task.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
{% block body%}
<section> 
    <!-- Script para mostrar la alerta en caso de éxito -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <script>
        Swal.fire({
            icon: 'success',
            title: '{{ messages[0][1] }}',
          });
    </script>
    {% endif %}
    {% endwith %}
    <div class="content-task" onchange="showFields()">
        <select id="task-form">
            <option value="estudiantes">Estudiante</option>
            <option value="grupo">Grupo</option>
        </select>        
        <form id="task-estudiante"  method="POST" action="/add_task_alumno">
            <div id="estudiante-fields">
                <label for="titulo-form">Alumno</label>
                <select name="alumnoSelect" id="alumnoSelect">
                    {% for item in alumnos %}
                        <option value="{{item.0}}">{{item.1}} {{item.2}}</option>
                    {% endfor %}
                </select>
            </div>
            <label for="">Tiempo / Fecha</label>
            <div>
                <select id="numero-input-time" name="tiempo" type="number" required="required">
                    <option >--:--</option>
                    <option >120</option>
                    <option >90</option>
                    <option >60</option>
                    <option >50</option>
                </select>
                <input type="date" id="fecha" name="fecha" placeholder="Selecciona una fecha"  required="required">
            </div>
            <div class="text-form-task">
                <label class="titulo-form">Task</label>
                <input type="text" placeholder="Tema" name="tema" required="required">
                <textarea cols="30" rows="10" name="descripcion" placeholder="Task optional message" class="input-field"></textarea>
            </div>
            <div class="content-btn">
                <button id="btn-save-alert" >Guardar</button>
            </div>
        </form>
        <form id="task-grupo"  method="POST" action="/add_task_grupo">
            <div id="estudiante-fields">
                <label for="titulo-form">Grupo</label>
                <select name="grupoSelect" id="grupoSelect">
                    {% for item in grupos %}
                        <option value="{{item.0}}">{{item.1}}</option>
                    {% endfor %}
                </select>
            </div>
            <label for="">Datos</label>
            <div>
                <select id="numero-input-time" name="tiempo" type="number" required="required">
                    <option >--:--</option>
                    <option >120</option>
                    <option >90</option>
                    <option >60</option>
                    <option >50</option>
                </select>
                <input type="date" id="fecha" name="fecha" placeholder="Selecciona una fecha"  required="required">
            </div>
            <div class="text-form-task">
                <label class="titulo-form">Task</label>
                <input type="text" placeholder="Tema" name="tema" required="required">
                <textarea cols="30" rows="10" name="descripcion" placeholder="Task optional message" required="required" class="input-field"></textarea>
            </div>
            <div class="content-btn">
                <button id="btn-save-alert">Guardar</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}